# FORMAS DE CONEXAO

# Conexao com Windows Athentication
CONNECTION_STRING=Server=(localdb)\MSSQLLocalDB;Database=GestaoPatrimonios;Trusted_Connection=True;TrustServerCertificate=True

# SQL Server Authentication (Usuario e senha)
# CONNECTION_STRING=Server=(localdb)\MSSQLLocalDB;Database=GestaoPatrimonios;User Id=seu_usuario;Password=sua_senha;TrustServerCertificate=True